---
import MenuMe from "../MenuMe.jsx";

const { aboutInfo } = Astro.props;
---

<section
  id="aboutMe"
  class="flex flex-col justify-center w-screen items-center h-screen bg-ctp-base"
>
  <h1 class="text-ctp-peach font-bold text-5xl">{aboutInfo.title}</h1>
  <div
    class="flex flex-col items-center w-full lg:justify-center lg:h-4/6 lg:flex-row"
    id="menuContainer"
  >
    <div class="flex flex-col items-center w-full lg:w-2/6">
      <img src="./magic2.png" alt="" class="w-full" />
      <a
        href={aboutInfo.linkCV}
        target="_blank"
        class="bg-ctp-peach text-white w-20 h-10 rounded-xl flex flex-row justify-center items-center font-bold"
        ><i class="fa-solid fa-file-arrow-down pr-2"></i>CV</a
      >
    </div>
    <MenuMe infoMenu={aboutInfo.menu} client:load />
  </div>
</section>

<style>
  @media screen and (max-width: 1024px) {
    #aboutMe {
      height: 1100px;
    }
  }
</style>
