---
import MenuMe from "../MenuMe.jsx";

const { aboutInfo } = Astro.props
---

<section
  id="aboutMe"
  class="space-y-20 flex flex-col justify-center w-screen items-center h-screen"
>
  <h1 class="text-web-orange-500 font-bold text-5xl">{aboutInfo.title}</h1>
  <div
    class="flex flex-col items-center w-full lg:justify-center lg:h-4/6 lg:flex lg:flex-row"
    id="menuContainer"
  >
  <figure class="marco border mb-10 lg:mr-20">
    <img src="/Foto.PNG" alt="Foto mia tipo CV" class="imagen-superpuesta h-80" />
  </figure>
    <MenuMe infoMenu={aboutInfo.menu} client:load />
  </div>
</section>

<style>
  .marco {
    width: 15rem;
    height: 20rem;
    position: relative;
    background-color: #fca311;
  }

  .imagen-superpuesta {
    margin-top: -20px; /* Mover la imagen hacia arriba superponiéndola sobre el borde */
    margin-left: -20px;
    z-index: 1; /* Colocar la imagen sobre el borde */
  }

  #aboutMe {
    background-color: #14213d;
  }

  @media screen and (max-width: 1024px) {
    #aboutMe {
        height: 1100px;
    }
  }

</style>
