---
import ContactForm from "../ContactForm.astro";
---

<section
  id="contacT"
  class="w-screen h-screen flex flex-col justify-evenly items-center"
>
<h1 class="text-2xl font-bold">// Contacto</h1>
<div class=" w-1/2 h-1/2 border flex flex-row space-x-14">
  <div>
    <h1>Contactemonos</h1>
    <p>Si te gusto mi perfil pongamosnos en contacto</p>
    <ul></ul>
  </div>
  <ContactForm/>
</div>
</section>


<style>
  #contacT {
    background-color: #FCA311;
  }
</style>