---
import CardProject from "../card/CardProject.astro";

const { infoProjects } = Astro.props;

const projects = infoProjects.projects;
---

<section
  id="projectS"
  class="w-screen py-10 lg:py-0 lg:justify-evenly h-auto flex flex-col space-y-16 items-center bg-gradient-to-b from-ctp-base to-ctp-crust"
>
  <h1 class="text-5xl font-bold text-ctp-peach">{infoProjects.title}</h1>
  <div
    class="w-11/12 flex flex-col justify-center items-center gap-20"
  >
    {
      projects.map((project, index) => (
        <div
          class={`project-card-container ${index % 2 === 0 ? "right" : "left"} w-full xl:w-8/12`}
        >
          <CardProject projectInfo={project} align={index % 2 === 0 ? 'left' : 'right'} />
        </div>
      ))
    }
  </div>
  <button class="bg-ctp-peach w-48 h-12 rounded-2xl">
    <a href="/projects" class="text-[#0A1829]">Mas proyectos...</a>
  </button>
</section>

<style>
  .project-card-container.left {
    align-self: flex-start;
  }

  .project-card-container.right {
    align-self: flex-end;
  }
</style>
