---
import CardProyecto from "../CardProyecto.astro";

---

<section id="projectS" class="w-full h-screen flex flex-col justify-evenly items-center ">
    <h1 class="text-white text-5xl">Proyectos</h1>
    <div>
        <CardProyecto image="./PortfolioImage.JPG"/>
    </div>
</section>