---
import CardProyecto from "../CardProyecto.astro";
---

<section id="projectS" class="w-screen h-screen flex flex-col justify-evenly items-center ">
    <h1 class="text-5xl font-bold text-web-orange-500">// Proyectos</h1>
    <div>
        <CardProyecto image="/PortfolioImage.JPG" urlDemo="https://darioplaza.tech" urlRepo="https://github.com/darioplazaleon/my-portfolio" description="Este es mi portfolio"/>
    </div>
</section>

<style>
    #projectS {
        background-color: #14213d;
    }
</style>