---
import CardServices from "../CardServices.astro";

const { infoService } = Astro.props;

const services = infoService.services;
---

<section
  id="serviceS"
  class="w-screen lg:h-fit flex flex-col items-center space-y-8"
>
  <h1 class="text-4xl font-bold text-web-orange-500">{infoService.title}</h1>
  <div class="h-full lg:h-fit w-11/12 flex flex-col items-center space-y-6">
    <div class="flex flex-wrap justify-center gap-6">
        {
            services.map((service) => (
                <CardServices infoCard={service}/>
            ))
        }
    </div>
    <p class="text-white text-xl underline">{infoService.more}</p>
  </div>
</section>

<style>
  #serviceS {
    background-color: #14213d;
  }

  @media (max-width: 1024px) {
    #services {
      height: fit-content;
    }
  }
</style>
