---
const { techInfo } = Astro.props;

const techs = techInfo.technologies;
---

<section class="h-96 w-full flex flex-col justify-around bg-ctp-crust">
  <h1 class="text-ctp-peach text-center font-bold text-5xl pb-4">
    {techInfo.title}
  </h1>
  <p
    class="text-center text-white font-semibold text-xl sm:text-xl md:text-2xl lg:text-4xl px-3"
  >
    He dominado diversas <span class="text-[#cba6f7]">tecnologías clave</span> para
    desarrollar soluciones
    <span class="text-[#89b4fa]">innovadoras y eficientes.</span>
    <br /> Descubre las herramientas que utilizo para llevar cada proyecto al <span
      class="text-[#f9e2af]">siguiente nivel</span
    >.
  </p>

  <div class="relative w-full h-52 pt-6">
    <div
      class="absolute inset-0 z-20 before:absolute before:left-0 before:top-0 before:w-1/4 before:h-full before:bg-gradient-to-r before:from-ctp-crust before:to-transparent before:filter before:blur-3 after:absolute after:right-0 after:top-0 after:w-1/4 after:h-full after:bg-gradient-to-l after:from-ctp-crust after:to-transparent after:filter after:blur-3"
    >
    </div>
    <div class="h-full w-full flex  keen-slider" id="my-keen-slider">
      {
        techs.map((tech, index) => (
          <div class={`keen-slider__slide number-slide${index + 1}`}>
            <img src={tech.image} alt={tech.name} class="w-20" />
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  import KenSlider from "keen-slider";

  var animation = { duration: 5000, easing: (t) => t };

  var slider = new KenSlider("#my-keen-slider", {
    slides: {
      perView: 7,
      spacing: 5,
    },
    loop: true,
    renderMode: "performance",
    drag: false,
    created(s) {
      s.moveToIdx(5, true, animation);
    },
    updated(s) {
      s.moveToIdx(s.track.details.abs + 5, true, animation);
    },
    animationEnded(s) {
      s.moveToIdx(s.track.details.abs + 5, true, animation);
    },
    breakpoints: {
      "(max-width: 640px)": {
        slides: {
          perView: 3,
          spacing: 5,
        },
      },
      "(min-width: 768px)": {
        slides: {
          perView: 5,
          spacing: 5,
        },
      },
      "(min-width: 1024px)": {
        slides: {
          perView: 6,
          spacing: 5,
        },
      },
      "(min-width: 1280px)": {
        slides: {
          perView: 7,
          spacing: 5,
        },
      },
      "(min-width: 1536px)": {
        slides: {
          perView: 8,
          spacing: 5,
        },
      },
    },
  });
</script>
