---
const { textAnimated } = Astro.props;
---

<div class="text-container">
  <p
    class="text-ctp-peach text-3xl font-semibold typed-out"
    id="animatedText"
  >
    {textAnimated}
  </p>
</div>

<style>
  .text-container {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }

  .typed-out {
    overflow: hidden;
    border-right: .15em solid #fab387;
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards, blink .8s infinite;
    width: 0;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #fab387;
    }
  }
</style>


