---
const { infoProjectCard} = Astro.props;

import PythonIcon from "../icons/PythonIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
---

<div
  class="bg-white w-11/12 h-[32rem] flex flex-col-reverse rounded-xl overflow-hidden sm:w-[38rem] sm:h-60 sm:flex sm:flex-row"
>
  <div class="w-5/6 h-3/6 sm:w-4/6 sm:h-full m-4 flex flex-col space-y-2">
    <p class="font-bold text-lg text-center">{infoProjectCard.title}</p>
    <p>{infoProjectCard.description}</p>
    <div class="flex space-x-6">
      <PythonIcon />
      <a href={infoProjectCard.urlRepo} target="_blank"
        ><GithubIcon /></a
      >
    </div>
  </div>
  <div
    class="w-full h-3/6 sm:w-2/6 sm:h-full"
    style=`background-image: url(${infoProjectCard.image}); background-size: cover; `
  >
  </div>
</div>
