---
const {feature, icon} = Astro.props;
---

<div class="flex items-center w-fit h-fit font-semibold space-x-2 justify-center bg-indigo-500 text-white rounded-full pt-1 pb-1 pr-2 pl-2 text-sm">
    <i class={icon}></i>
    <p>{feature}</p>
</div>
