<footer class="w-full h-20 flex flex-row justify-around items-center">
    <div class="flex flex-row justify-center items-center space-x-4">
        <i class="fa-solid fa-terminal text-white text-2xl"></i>
        <p class="text-white font-bold text-2xl">Dario</p>
    </div>
    <a href="./CV_DARIO_PLAZA_LEON.pdf" download="" class="bg-white w-20 h-10 rounded-xl flex flex-row justify-center items-center font-bold"><i class="fa-solid fa-file-arrow-down pr-2"></i>Mi CV</a>
</footer>