---
import LanguageChange from "./LanguageChange.astro"
---

<header class="h-24">
    <nav class="h-full flex flex-row justify-around items-center">
        <div class="flex flex-row justify-center items-center space-x-4">
            <i class="fa-solid fa-terminal text-white text-2xl"></i>
            <p class="text-white font-bold text-2xl">Dario</p>
        </div>
        <div class="lg:hidden block">
            <!-- Botón para abrir el menú en dispositivos móviles -->
            <button id="mobile-menu-button-icon" class="text-white text-2xl">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <ul class="hidden lg:flex flex-row items-center space-x-6 text-white font-bold underline underline-offset-8">
            <li><a href="#aboutmeS" id="aboutme" data-en="About Me" data-es="Sobre mí">Sobre mi</a></li>
            <li><a href="#projects" id="projects" data-en="Projects" data-es="Proyectos">Proyectos</a></li>
            <li><a href="#contact" id="contact" data-en="Contact" data-es="Contacto">Contacto</a></li>
        </ul>
        <div class="space-x-6">
            <LanguageChange/>
        </div>
        <!-- Menú desplegable en dispositivos móviles -->
        <div id="mobile-menu" class="lg:hidden fixed top-0 left-0 w-screen h-screen bg-white shadow z-50 transform translate-x-full transition-transform duration-300 ease-in-out">
            <ul class="flex flex-col items-center space-y-4 text-black font-bold underline underline-offset-8">
                <!-- Botón para cerrar el menú -->
                <li>
                    <button id="close-mobile-menu-button" class="text-black text-2xl">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </li>
                <li><a href="#aboutmeS" id="aboutme-mobile" data-en="About Me" data-es="Sobre mí">Sobre mi</a></li>
                <li><a href="#projects" id="projects-mobile" data-en="Projects" data-es="Proyectos">Proyectos</a></li>
                <li><a href="#contact" id="contact-mobile" data-en="Contact" data-es="Contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>

<style>
    ul {
        height: 2.5rem;
    }
</style>

<script>
    // JavaScript para mostrar/ocultar el menú desplegable y cambiar el icono
    const mobileMenuButtonIcon = document.getElementById("mobile-menu-button-icon");
    const closeMobileMenuButton = document.getElementById("close-mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");
    const body = document.body;

    mobileMenuButtonIcon.addEventListener("click", function () {
        mobileMenu.classList.toggle("translate-x-full");
        body.classList.toggle("overflow-hidden");
    });

    closeMobileMenuButton.addEventListener("click", function () {
        mobileMenu.classList.toggle("translate-x-full");
        body.classList.toggle("overflow-hidden");
    });

    // Cerrar el menú y desplazarse a la sección correspondiente al hacer clic en una opción
    const menuLinks = document.querySelectorAll("#mobile-menu a");

    menuLinks.forEach(link => {
        link.addEventListener("click", function (e) {
            mobileMenu.classList.toggle("translate-x-full");
            body.classList.remove("overflow-hidden");
            e.preventDefault(); // Evita que el enlace se siga como un enlace normal
            const targetId = this.getAttribute("href").substring(1);
            const targetElement = document.getElementById(targetId);
            if (targetElement) {
                window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: "smooth"
                });
            }
        });
    });
</script>

